/* .price-slider-body{
    direction: ltr;
} */
 h3.package-title {
  margin-top: 20px;
}
.plan-price .pricing-standard-value {
  font-size: 40px;
}
.plan-price sup {
  font-size: 22px!important;
}
.color-black{
    color: black!important;
}
.package-plus-text{
    font-size: 18px!important;
}
.list-group-item{
    border: none!important;
}
.badge{
    background-color: rgba(115, 103, 240, 0.12);
    color: var(--main-color);
}
.standard-pricing{
  /* border: none !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */

  display: flex;
  flex-direction: column;
  background: #ffff;
  padding: 32px 16px;
  border: 1px solid var(--purple-purple-100, #E3E0FF);
  border-radius: 16px;
  box-shadow: 0px 6px 16px -4px rgba(0, 0, 0, 0.10);
  justify-content: space-between;
  /* height: 340px; */
}
.best-value-div-price {
  padding: 18px 16px;
  z-index: 1;
  margin-top: -12px;
  background: #fff;
  border-radius: 16px;
  border: 2px solid var(--main-color);
}

p.best-value-text {
  color: #FFFFFF;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.best-value-text-div {
  display: flex;
  padding: 12px 0 24px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  align-self: stretch;
  background: var(--main-color);
  border-radius: 16px 16px 0 0;
}

