footer {
    background-color: #f9f9f9;
    padding: 70px 0 50px  0;

    color: #333;
    /* font-family: "GT Walsheim Pro Regular"; */
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }

  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px 0;
  }
  .footer-column.large-column {
    flex: 2; /* جعل هذا العمود أكبر من الأعمدة الأخرى */
}

  .footer-column h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #717171;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 8px;
  }

  .footer-column ul li a {
    color: #333;text-decoration: none;

  }

  .footer-column ul li a:hover {
    text-decoration: none;
  }

  .footer-column p {
    margin: 5px 0;
  }
  .footer-column p a {
   color: #000;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }

  .footer-bottom .app-links a {
    margin: 0 10px;
  }

  .footer-bottom .app-links img {
    height: 40px;
    width: auto;
  }

  .footer-bottom p {
    margin: 0;
    font-weight: 600;
    color: #000;
  }

  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-bottom {
      flex-direction: column;
      align-items: center;
    }

    .footer-bottom .app-links {
      margin-top: 10px;
    }
  }

  .Copyright{
    color: #717171;
  }
.footer-hr
{
    height: 2px;
    background-color: #d2c4c4;
    border: none;
}
.social-links a{
    padding: 8px;
    border: 1px solid transparent;
}
.social-links a:hover{
    border: 1px solid #000;
    border-radius: 40px;
    padding: 8px;
}

