.slick-ecommerce img,
.slick-agency img {
  height: 120px !important;
  /* width: 120px; */
}

.exclusive-agency {
  pointer-events: none;
  width: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/general/agencies-bg.html);
  min-height: 150px;
  /* transform: translate3d(0px, -94.5177px, 0px); */

  color: white;
  padding: 12rem 0rem 5rem 0rem;
}
.exclusive-agency .content {
  display: grid;
  gap: 12px;
  justify-content: center;
  /* margin: 12rem 0rem 5rem 0rem; */
}

.agencies {
  padding: 0px 15px;
}
.client_review .content_review h1 {
  font-size: 50px;
}
.client_review .content_review p {
  font-size: 20px;
}
.client_review .media_review {
  position: relative;
}

.client_review .media_review .pin1 {
  position: absolute;
  right: -150px;
  top: 50px;
  transform: rotate(300deg);
}

.client_review .media_review .pin2 {
  position: absolute;
  left: -50px;
  top: -100px;
  transform: rotate(300deg);
}
.client_review .media_review .thumbnail_client {
  cursor: pointer;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.client_review .media_review .thumbnail_client .image_client {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client_review .media_review .thumbnail_client .play {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 20px rgba(27, 32, 34, 0.03),
    0px 20px 40px rgba(27, 32, 34, 0.04), 0px 30px 60px rgba(27, 32, 34, 0.05),
    0px 2px 3px rgba(27, 32, 34, 0.1), 0px 0px 1px rgba(27, 32, 34, 0.1);
}
.client_review .media_review .thumbnail_client .play img {
  width: 13px;
}

.client_review .media_review .thumbnail_client .client {
  max-width: 85%;
  line-height: 1.2;
  position: absolute;
  background-color: #fff;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  box-shadow: 0px 10px 20px rgba(27, 32, 34, 0.03),
    0px 20px 40px rgba(27, 32, 34, 0.04), 0px 30px 60px rgba(27, 32, 34, 0.05),
    0px 2px 3px rgba(27, 32, 34, 0.1), 0px 0px 1px rgba(27, 32, 34, 0.1);
  border-radius: 8px;
  padding: 6px 14px;
}

@media (max-width: 480px) {
  .client_review .media_review .pin1 {
    display: none;
  }
  .client_review .media_review .pin2 {
    display: none;
  }
  .exclusive-agency .content video {
    display: none;
  }
  .agency-form-title {
    font-size: 24px !important;
  }
}

.agency-form {
  background-color: var(--soft-bg);
  padding: 24px;
  border-radius: 16px;
}
.agency-form-input {
  border: 0;
  min-height: 50px;
  color: #000000;
}
input::placeholder {
  color: #e6f9ff;
}
input:focus {
  box-shadow: none !important;
}
.agency-form-title {
  max-width: 20em;
  font-size: 48px;
}
