.main-text{
    color: var(--main-color);
}
.sec-text{
    color: var(--sec-color);
}
.slick-current.slick-active {
    /* transform: scale(1.5, 1.5); */
    /* border: 1px red solid; */
}

.slick-prev:before,
.slick-next:before {
    color: var(--main-color);
}

.main-color-gradient {
    background: -webkit-linear-gradient(96deg, #020024 0%, var(--main-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.sub-color-gradient{
    background: -webkit-linear-gradient(96deg, #020024 0%, var(--sec-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-gap{
    margin: 30px 0px;
}
.vjs-poster img {
    width: 100% !important;
    height: 100% !important;
}
